/*Stile personalizzato per sovrascrivere le classi di Bootstrap*/
/*Author: Bran Stark*/

.text-blu{
    color:blue;
}
.text-white{
    padding-top:50px;
    padding-bottom:50px;
}
.text-giallo{
    color:yellow;
}
.section_paddato{
    padding-top:50;
    padding-bottom:50px;
}
.text-giustificato{
    text-align:justify;
}
.background-main{
    background-color:orange;
}
.paddingboh{
    padding-top:50px;
}